---
---
.tip-message {
	border-top: 1px solid #e8e8e8;
	padding: 30px 0;
	text-align: center;
}

.tip-option-container {
	width: 100%;
	display: flex;
	padding: 10px;
	flex-direction: row;
	justify-content: center;
	vertical-align: middle;
}

.tip-option {
	width: 30%;
	text-align: center;
	vertical-align: middle;
}

hr {
	margin-bottom: 25px;
}

.qr-code {
	width: 30%;	
	padding: 0;
}