---
---

.tip-info-container {
	text-align: center;
	color: dimgrey;
}

.tip-items-container {
	background-color: beige;
}

.tip-info-container p {
	font-size: small;
	margin-bottom: 0;
}

.qr-code {
	width: 40%;
}

.tip-item {
	margin: 10px;
}

.tip-address-section {
	padding-top: 10px;
}