<div class="wrapper">
	<link rel="stylesheet" href="/css/tip.css">
	<div class="tip-message">
		<span>If you found this useful, leave me a tip!</span>
		<div class="tip-option-container">

		<div class="tip-option">
			<span>⚡️ Address:</span>
			<span>joel@satoshis.lol</span>
		</div>
		
		<div class="tip-option">
			<a href="https://lnbits.klabo.blog/lnurlp/1">
				<img class= "qr-code" src="/assets/lnurlp-qr-code.png">
			</a>
		</div>

		<div class="tip-option">
				<span class="connect-label">Connect to my node</span>
				<input placeholder="036830d48d746852dbc72438d3eb35c609a687c98a2ee68534201fa824638c9f9d@evernberozabw2idrypgwnz4llguetzf3v5qar2pfjp6aihf4qoaujid.onion:9735" readonly="">
				<button type="button" class="connect-button">copy</button>
		</div>

	</div>
</div>