<link rel="stylesheet" href="/css/tip.css">

<div class="tip-info-container">
	<p>IF YOU FOUND THIS USEFUL, LEAVE ME A TIP!</p>
	<div class="tip-items-container">
		<div class="tip-address tip-item">
			<div class="tip-address-section">
				<p>⚡️ joel@satoshis.lol</p>
			</div>
			<div class="tip-address-section">
				<p>⛓ bc1qlm8tgjcugntn3n3aqsrgdaakvwjf8jn73d8ufa</p>
			</div>
		</div>
		<div class="tip-code tip-item">
			<p>LNURLp</p>
			<a href="https://lnbits.klabo.blog/lnurlp/1">
				<img class= "qr-code" src="/assets/lnurlp-qr-code.png">
			</a>
		</div>
		<div class="connect-node tip-item">
				<p>Connect to my node</p>
				<input placeholder="036830d48d746852dbc72438d3eb35c609a687c98a2ee68534201fa824638c9f9d@evernberozabw2idrypgwnz4llguetzf3v5qar2pfjp6aihf4qoaujid.onion:9735" readonly="">
		</div>
	</div>
</div>